<h2 class="login-header">Login</h2>
<div class="user-register">

  <%= form_tag '/login' do %>

  <table class="register-table">
    <tr>
      <div class="form-group">
        <th class="login-field">Email: </th>
        <td><%= text_field_tag :email %></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <th class="login-field">Password: </th>
        <td><%= password_field_tag :password %></td>
      </div>
    </tr>
  </table>
  <div class="login-submit">
    <%= submit_tag "Submit", :class=>"btn btn-primary" %>
  </div>
  <div class="login-back"><%= link_to 'Back', root_path, class: "btn btn-primary" %></div>
  <% end %>
</div>