
<!-- Google Maps; on right hand side -->

<aside class="google-maps">
  <% if current_user_location %>
    <% theAddress = current_user_location %>
  <% else %>
    <% theAddress = "46 Spadina Avenue Toronto" %>
  <% end %>
    <div id="googleMap" data-user-location='<%=theAddress%>'></div>

  <script type="text/javascript">

    if(window.google && document.getElementById('googleMap').dataset.userLocation){
      initialize()
    } else {
      $.ajax("https://maps.googleapis.com/maps/api/js?key=AIzaSyBHyW__uRnMTsXjGPv54cP5Tli4MhL_vOA&callback=initialize", {
          crossDomain: true,
          dataType: 'script'
      })
    }
  </script>
</aside>

<!-- Meals posted on left hand side -->
<section class="postings">

<!-- First, the categories area and button -->
<div class="categories-area">
  <div class="categories-btn">
    <div class="row row-heading cat-row">
      <div class="col-xs-4 cat-col">
        <div class="container">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Categories
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% @categories.each do |category| %>
                <li>
                  <%= link_to meals_category_path(id: category.id, ), method: :put do %>
                    <%= category.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
      </div>
    </div>
  </div>
</div>

<!-- Then, all the meals -->
<div class="postings-list">

<% @meal_postings.each do |meal_posting| %>

  <!-- Image -->
  <div class="meal-div <%=meal_posting.user.address%>" data-address='<%=meal_posting.user.address%>'>
    <div class="media">
      <div class="media-left media-middle">
        <%= cl_image_tag(meal_posting.media[0].url, class: 'media-object') %>
      </div>

      <div class="media-body">
        <div class="container-fluid media-container">

          <!-- Title, meal time(s), cost -->
          <div class="row row-heading">
            <div class="col-xs-8">
              <b><%= meal_posting.title %></b>
            </div>

            <div class="col-xs-4">
              Cost: $<%= meal_posting.cost %>
            </div>
          </div>

          <!-- Description -->
          <div class="row row-body">
            <div class="col-xs-8">
              <% if meal_posting.end_time %>
                Serving from: <%= meal_posting.base_time %> - <%= meal_posting.end_time%>
              <% else %>
                Serving at: <%= meal_posting.base_time%>
              <% end %>
            </div>
            <div class="col-xs-4">
              Servings Left: <%= meal_posting.servings %>
            </div>
            <br>

          </div>
          <!-- Servings left, allergy notices -->
          <div class="row row-footer">
            <div class="col-xs-8">
              <div class="circle">A</div>
              <div><%= meal_posting.user.address%></div>
            </div>
            <div class="col-xs-4">
              <!-- <button type="button" class="btn btn-primary">Order Info</button> -->
              <%= button_to "Order Info", meal_posting_path(meal_posting), class: "btn btn-warning order-info", method: "get" %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
<% end %>

</div>

</section>

