<p id="notice"><%= notice %></p>

<h1>Meal Postings</h1>

<header class="navbar">
<nav>
  <div id="nav-container" class="container-fluid">
    <div class="row">
      <div id="nav-login" class="col-md-4">
        Welcome User!
        <button class="btn btn-default">Login
          <%= link_to '/login' %>
        </button>
      </div>
      <div id="nav-links" class="col-md-4">
      </div>
      <div id="nav-search" class="col-md-4">
      </div>
    </div>
  </div>
</nav>
</header>

<section class="postings-list">

<table>
  <thead>
    <tr>
      <th>Base time</th>
      <th>End time</th>
      <th>Title</th>
      <th>Description</th>
      <th>Allergy notice</th>
      <th>Servings</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_postings.each do |meal_posting| %>
      <tr>
        <td><%= meal_posting.base_time %></td>
        <td><%= meal_posting.end_time %></td>
        <td><%= meal_posting.title %></td>
        <td><%= meal_posting.description %></td>
        <td><%= meal_posting.allergy_notice %></td>
        <td><%= meal_posting.servings %></td>
        <td><%= meal_posting.cost %></td>
        <td><%= link_to 'Show', meal_posting %></td>
        <td><%= link_to 'Edit', edit_meal_posting_path(meal_posting) %></td>
        <td><%= link_to 'Destroy', meal_posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal Posting', new_meal_posting_path %>
</section>


