

<!-- Navbar at the top -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HomeCooked</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
      <form class="navbar-form" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Location">
        </div>
        <button type="submit" class="btn btn-default btn-location">Go</button>
      </form>
      </li>
    </ul>
  </div>
</nav>

<!-- Google Maps; on right hand side -->

<aside class="google-maps">
  <div id="googleMap"></div>

  <script>
  function myMap() {
  var mapProp= {
      center:new google.maps.LatLng(51.508742,-0.120850),
      zoom:5,
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWxnm39QBvy4HIpXRu82ucKN4-0WpS35I&callback=myMap"></script>
</aside>

<!-- Meals posted on left hand side -->

<section class="postings-list">

<% @meal_postings.each do |meal_posting| %>

  <!-- Image -->
  <div class="meal-div">
    <div class="media">
      <div class="media-left media-middle">
        <%= cl_image_tag(meal_posting.media[0].url, class: 'media-object') %>
      </div>

      <div class="media-body">
        <div class="container-fluid media-container">

          <!-- Title, meal time(s), cost -->
          <div class="row row-heading">
            <div class="col-xs-4">
              <%= meal_posting.title %>
            </div>

            <div class="col-xs-4">
            <% if meal_posting.end_time %>
              Serving from: <%= meal_posting.base_time %> - <%= meal_posting.end_time%>
            <% else %>
              Serving at: <%= meal_posting.base_time%>
            <% end %>
            </div>

            <div class="col-xs-4">
              Cost: $<%= meal_posting.cost %>
            </div>
          </div>

          <!-- Description -->
          <div class="row row-body">
            <div class="col-xs-12">
            <%= meal_posting.description %>
            </div>
          </div>

          <!-- Servings left, allergy notices -->
          <div class="row row-footer">
            <div class="col-xs-4">
              Servings Left: <%= meal_posting.servings %>
            </div>
            <div class="col-xs-8">
              Allergies: <%= meal_posting.allergy_notice %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</br>
<% end %>

</section>


<!-- Deleted: %= link_to 'new meal posting', new_meal_posting_path % -->
