
<!-- User information at top of page -->
<div class="container meal-posting-user-info">
  <div class="row">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <%= cl_image_tag(@user.image, class: 'circle img-thumbnail img-box') %>
      </div>
      <h4><strong>Host Information: </strong></h4>
      <h5><strong>Name: <%= @user.name %></strong></h5>
      <p><strong>Address: <%= @user.address %></strong></p>
      <p><strong>Phone: <%= @user.phone_number %></strong></p>
      <p><strong>Email: <%= @user.email %></strong></p>
      <%= link_to 'Reviews', user_path(@user), :class => "btn btn-warning btn-md user-reviews-btn" %>
    </div>
  </div>
</div>

<!-- Separation from User info to Meal Postings -->
<hr class="user-meal-posting-separate">

<!-- Shows as many meal postings as the user currently has -->
<div class="container">
  <div class="row">
    <% @user.meal_postings.each do |meal_posting| %>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <%= cl_image_tag(meal_posting.media[0].url, class: 'circle img-thumbnail img-box') %>
      </div>
      <div class="col-xs-4 col-sm-9 col-md-9">
        <h4><%= meal_posting.title %></h4>
        <div class="list-group-item meal-post-desc">
          <p>Description: <%= meal_posting.description %><br/><br/>Allergy Notice: <%= meal_posting.allergy_notice %></p>
        </div>
        <div class="row">
          <div class="col-sm-3 meal-posting-bottom-info">
            <p>
              <% if meal_posting.end_time %>
                Serving from: <%= meal_posting.base_time %> - <%= meal_posting.end_time%>
              <% else %>
                Serving at: <%= meal_posting.base_time%>
              <% end %>
            </p>
          </div>
          <div class="col-sm-2 meal-posting-bottom-info">
            <p>Price: $<%= meal_posting.cost %></p>
          </div>
          <div class="col-sm-3 meal-posting-bottom-info">
            <p>Servings Available: <%= meal_posting.servings %></p>
          </div>
          <div class="reviews-button">

          <div class="reserve-button">
            <%= button_to 'Reserve', new_meal_posting_reservation_path(meal_posting), :class => "btn btn-warning btn-md reserve" %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% end %>
  </div>
</div>
