
<!-- User information at top of page -->
<div class="container meal-posting-user-info">
  <div class="row">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <%= cl_image_tag(@user.image, class: 'circle img-thumbnail img-box') %>
      </div>
      <h4><strong>Host Information: </strong></h4>
      <h5><strong>Name: <%= @user.name %></strong></h5>
      <p><strong>Address: <%= @user.address %></strong></p>
      <p><strong>Phone: <%= @user.phone_number %></strong></p>
      <p><strong>Email: <%= @user.email %></strong></p>
      <%= link_to 'Reviews', user_path(@user), :class => "btn btn-warning btn-md user-reviews-btn" %>
    </div>
  </div>
</div>

<!-- Separation from User info to Meal Postings -->
<hr class="user-meal-posting-separate">

<!-- Shows as many meal postings as the user currently has -->
<div class="container">
  <div class="row">
    <% @user.meal_postings.each do |meal_posting| %>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <%= cl_image_tag(meal_posting.media[0].url, class: 'circle img-thumbnail img-box') %>
      </div>
      <div class="col-xs-4 col-sm-9 col-md-9">
        <h4><%= meal_posting.title %></h4>
        <div class="list-group-item meal-post-desc">
          <p>Description: <%= meal_posting.description %><br/><br/>Allergy Notice: <%= meal_posting.allergy_notice %></p>
        </div>
        <div class="row">
          <div class="col-sm-3 meal-posting-bottom-info">
            <p>
              <% if meal_posting.end_time %>
                Serving from: <%= meal_posting.base_time %> - <%= meal_posting.end_time%>
              <% else %>
                Serving at: <%= meal_posting.base_time%>
              <% end %>
            </p>
          </div>
          <div class="col-sm-2 meal-posting-bottom-info">
            <p>Price: $<%= meal_posting.cost %></p>
          </div>
          <div class="col-sm-3 meal-posting-bottom-info">
            <p>Servings Available: <%= meal_posting.servings %></p>
          </div>


          <div class="review-button">
            <%= button_to 'Reviews', meal_posting_reviews_path(meal_posting), :method => :get, :class => "btn btn-warning btn-md" %>
          </div>

          <% if current_user and current_user.id != @user.id %>
          <!-- Reserving a meal opens a modal with a form -->
          <div class="reserve-button">
            <button type="button" class="btn btn-warning btn-md reserve" data-toggle="modal" data-target=".modal-<%=meal_posting.id%>">Reserve</button>
          </div>

          <% formID = meal_posting.id %>
          <!-- Modal -->
          <div class="modal fade modal-<%=formID%>" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close-<%=formID%> close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Select Meal Options</h4>
                </div>
                <div class="modal-body">
                <!-- Submission Form (local true means no ajax request) -->
                <%= form_with(model: @reservation, remote: true, url: create_reservation_path, class: formID) do |form| %>
                  <% if @reservation.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this meal_posting from being saved:</h2>
                      <ul>
                      <% @reservation.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>

                  <% end %>

                  <%= form.hidden_field :user_id, value: current_user.id %>
                  <%= form.hidden_field :meal_posting_id, value: meal_posting.id %>

                  <!-- http://api.rubyonrails.org/ search "text_field" for format -->
                  <!-- ActionView::Helpers::FormBuilder (search "form") -->
                  <!-- text_field: object_name, attribute_name (key) -->
                  <table>
                    <tr class="modal-form-group">
                      <td><%= form.label :number_of_people %></td>
                      <td><%= form.number_field :number_of_people, id: :number_of_people %></td>
                    </tr>
                    <tr class="modal-form-group">
                      <td><%= form.label :allergies %></td>
                      <td><%= form.text_field :allergies, id: :allergies %></td>
                    </tr>
                    <% if meal_posting.end_time %>
                    <tr class="modal-form-group">
                      <td><%= form.label :reservation_time %></td>
                      <td><%= form.number_field :time, id: :time %></td>
                    </tr>
                    <% else %>
                      <%= form.hidden_field :time, value: meal_posting.base_time %>
                    <% end %>
                  </table>
                  <div class="modal-footer">
                    <%= form.submit "Submit", class: "btn btn-warning btn-md modal-reserve submit-"+formID.to_s %>
                    <button type="button" class="action btn btn-default modal-close close-<%=formID%>" data-dismiss="modal">Close</button>
                  </div>
                  <div class="messages-<%=formID%>"></div>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
    <hr>
    <% end %>
  </div>
</div>
