<%= form_with(model: meal_rating, local: true) do |form| %>
  <% if meal_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal_rating.errors.count, "error") %> prohibited this meal_rating from being saved:</h2>

      <ul>
      <% meal_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meal_posting_id %>
    <%= form.number_field :meal_posting_id, id: :meal_rating_meal_posting_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :meal_rating_user_id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :meal_rating_comment %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :meal_rating_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
