

<!-- IF USER IS A HOST, THEIR RESERVATION PAGE LOOKS LIKE THIS -->
<% if @user.user_status === "Host" %>
  <div class="container">


    <div class="row">
      <h1 class="reservation-notification-header">Reservation Notifications: </h1>
      <h4 class="outgoing-reservations-link"><%= link_to "Your Outgoing Reservations", reservations_outgoing_path(@user) %></h4>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> flash-msg">
          <h2>~ERROR: <%= value %>~</h2>
        </div>
      <% end %>

      <% @user.meal_postings.each do |meal_posting| %>
        <% meal_posting.reservations.each do |reservation| %>

          <% if reservation.delete_status != "hostdelete" && reservation.delete_status != "bothdelete" %>

          <div class="row meal-div">
            <div class="col-xs-4 col-sm-3 col-md-3">
              <%= cl_image_tag(reservation.meal_posting.image, class: 'circle img-thumbnail img-box reservation-pic') %>
            </div>
            <div class="col-xs-4 col-sm-9 col-md-9">
              <h4><%= reservation.meal_posting.title %></h4>
              <div class="list-group-item meal-post-desc">
                <p><strong>Guest Name: </strong><%= link_to "#{reservation.user.name}", user_path(reservation.user.id) %></p>
                <p><strong>Servings: </strong><%= reservation.number_of_people %></p>
                <% if reservation.time %>
                  <p><strong>Time: </strong><%= reservation.time.strftime("%I:%M %p") %></p>
                  <p><strong>Date: </strong><%= reservation.meal_posting.date.to_date() %></p>
                <% else %>
                  <p><strong>Time: </strong><%= reservation.meal_posting.base_time %></p>
                <% end %>
                <% if reservation.allergies %>
                  <p><strong>Allergies: </strong><%= reservation.allergies %></p>
                <% end %>
                <% if reservation.paid %>
                  <p><strong>Status: </strong>Paid</p>
                <% else %>
                  <p><strong>Status: </strong><%= reservation.status %></p>
                <% end %>
              </div>
              <div class="row">
                <!-- ALLOW HOST TO DELETE POSTING TO CLEAR SPACE ONCE ACCEPTED OR REJECTED -->
                <div class="meal-reviews-button">
                  <%= button_to 'Meal Reviews', meal_posting_reviews_path(reservation.meal_posting), :method => :get, :class => "btn btn-warning btn-md basic" %>
                </div>

                <div class="user-reviews-button">
                  <%= button_to 'User Reviews', user_path(reservation.user), :method => :get, :class => "btn btn-warning btn-md basic" %>
                </div>

                <!-- SHOULD THIS JUST BE "REJECTED"? DO WE WANT TO LET HOST DELETE POSTING THAT IS ACCEPTED BUT NOT PAID? -->
                <% if reservation.paid || reservation.status === "Rejected" %>
                  <div class="delete-button">
                    <%= button_to 'Delete', { :controller => "reservations", :action => "hostdelete", id: reservation.id }, :method => :put, :class => "btn btn-primary btn-md delete" %>
                  </div>
                <% elsif reservation.status === "Pending Approval" %>
                  <div class="reject-button">
                    <%= button_to 'Reject', {:controller => "reservations", :action => "reject", id: reservation.id}, :method => :put, :remote => true, :class => "btn btn-warning btn-md basic" %>
                  </div>
                  <div class="accept-button">
                    <%= button_to 'Accept', {:controller => "reservations", :action => "accept", id: reservation.id}, :method => :put, :remote => true, :class => "btn btn-success btn-md accept" %>
                  </div>

                <% end %>
              </div>
            </div>
          </div>
          <hr>


          <% end %>


        <% end %>
      <% end %>
    </div>
  </div>

<!-- IF USER IS NOT A HOST, THEIR RESERVATION PAGE LOOKS LIKE THIS -->
<% elsif @user.user_status === "User" %>
  <div class="container">
    <div class="row">
      <% if @user.reservations.length <= 0 %>
        <h1>No Current Reservations</h1>
      <% else %>
        <h1>Your Current Reservations: </h1>
      <% end %>
      <% @user.reservations.each do |reservation| %>

        <% if reservation.delete_status != "userdelete" && reservation.delete_status != "bothdelete" %>


          <div class="row meal-div">
            <div class="col-xs-4 col-sm-3 col-md-3">
              <%= cl_image_tag(reservation.meal_posting.image, class: 'circle img-thumbnail img-box reservation-pic') %>
            </div>
            <div class="col-xs-4 col-sm-9 col-md-9">
              <h4><%= reservation.meal_posting.title %></h4>
              <div class="list-group-item meal-post-desc">
                <p><strong>Host Name: </strong><%= link_to "#{reservation.meal_posting.user.name}", user_path(reservation.meal_posting.user.id) %></p>
                <p><strong>Servings: </strong><%= reservation.number_of_people %></p>
                <% if reservation.time %>
                  <p><strong>Time: </strong><%= reservation.time %></p>
                <% else %>
                  <p><strong>Time: </strong><%= reservation.meal_posting.base_time %></p>
                <% end %>
                <% if reservation.meal_posting.allergy_notice %>
                  <p><strong>Allergy Notice: </strong><%= reservation.meal_posting.allergy_notice %></p>
                <% end %>
                <p><strong>Total Cost: </strong><%= reservation.meal_posting.cost * reservation.number_of_people %> $</p>
                <h3 class="user-reservation-status">
                  <% if reservation.paid %>
                    <strong>Status: </strong>Paid
                  <% else %>
                    <strong>Status: </strong><%= reservation.status %>
                  <% end %>
                </h3>
              </div>




              <!-- NEED TO IMPLEMENT STRIPE POPUP WHEN THIS BUTTON IS CLICKED -->
              <% if reservation.status === "Accepted" && !reservation.paid %>
              <div class="row">

                <div class="col-xs-12 pay-button">
                  <%= form_tag reservation_order_path(reservation), :method => "put" do %>
                    <% if flash[:error].present? %>
                      <div id="error_explanation">
                        <p><%= flash[:error] %></p>
                      </div>
                    <% end %>
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-amount="<%= reservation.meal_posting.cost * reservation.number_of_people * 100 %>"
                      data-name="HomeCooked"
                      data-description="HomeCooked Order"
                      data-locale="auto"
                      data-currency="cad">
                    </script>
                  <% end %>
                </div>
              </div>
              </div>
              <% end %>

              <!-- IF USER HAS PAID WITH STRIPE -->
              <% if reservation.paid %>
                <div class="row">
                  <h3 class="accepted-payment">Your payment has been accepted!</h3>
                </div>
              <% end %>


              <!-- USER CAN DELETE RESERVATION FROM PAGE TO CLEAR SPACE IF IT WAS REJECTED  -->
              <% if reservation.status === "Rejected" %>
                <div class="row">
                  <div class="delete-button">
                    <%= button_to 'Delete', { :controller => "reservations", :action => "userdelete", id: reservation.id }, :method => :put, :class => "btn btn-primary btn-md delete" %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
          <hr>

        <% end %>

      <% end %>
    </div>
  </div>

<% else %>
  <h2> Please refer back to Hom Page </h2>
<% end %>




