<!DOCTYPE html>
<html>
  <head>
    <title>Homecooked</title>

    <!-- Script used to generate pie charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://leaverou.github.io/conic-gradient/conic-gradient.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- onload="initialize('200 spadina avenue toronto ontario')" -->

  </head>
  <body >
    <%= render 'layouts/top_nav' %>
    <%= yield %>
  </body >
</html>
